@charset "utf-8";

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

body a{
  text-decoration: none;
  color: white;
}


#header {
  background: url(/images/header_tile.png);
  height: 72px;
  border-bottom: 1px solid #3fc6e1;
  color: white;
}

#header #logo{
  float: left;
}

#header ul{
  list-style: none;
  float: left;
  margin-left: 40px;
}

#header ul li{
  float: left;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.2em #333;
  
}

#header ul li a{
  display: block;
}

#header ul li a:hover{
  color: gray;
}


#header ul li.current{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  background-color: gray;
  color: white;
}

.main{
  min-height: 900px;
}


.content{
  width: 960px;
  margin: auto;
  color: white;
}

#foot{
  clear: both;
  background-color: #f7f9fb;
  color: white;
  height: 170px;
}

#copyright{
  clear: both;
  background-color: #363636;
  height: 70px;
  line-height: 70px;
}

#copyright{
  margin: auto;
  text-align: center;
  color: white;
}

/*for index page*/
.feature-area{
  height: 500px;
  background-color: #215b87;
}

.feature-area .content{
  background: url(/images/featured-bg.jpg) no-repeat top left;
  position: relative;
  height: 500px;
}

.feature-area .slogan{
  padding-top: 40px; 
  padding-bottom: 15px;
  width: 800px;
  text-shadow: 0.1em 0.1em 0.2em black;
  
}

.feature-area .slogan h1{
  text-align: center;
}

.feature-area .words{
  width: 800px;
}
.feature-area img{
  float: right;
  margin-left: 30px;
}

.feature-area p{
  width: 500px; 
  line-height: 25px;
  margin-left: 25px;
}

.highlight-columns{
  border-top: 1px solid #c7c7c7;
  background: #ffffff url(/images/content-bg.png) repeat-x;
  padding: 0px 0px 52px;
}

.highlights{
  width: 960px;
  height: 400px;
  margin: auto;
  background: url(/images/third-left-bg.png) no-repeat 914px top;
}

.highlight-columns .one-third{
  float: left;
  width: 180px;
  height: 380px;
  background: url(/images/third-left-bg.png) no-repeat top left;
  padding: 31px 30px 0px 81px;
}

.highlight-columns .one-third .title{
  text-transform: capitalize;
  padding: 10px 3px;
}


.highlight-columns .one-third .highlight-content{
  
}
