---
current_page: "blog"
---

.content
  .blog-entries
    %a{:anchor => "transform-one-new-team"}
    .title 
      %h1    
        TransformOne New Team Formed
    .writen-when April 19, 2013
    .author Alex
    .blog-content
      :markdown
        We are excited to announce the addition of several new development team members and the release of our new website.  We now focus on continued development of our company, concept and team.
  
  .sidebar
    .menucontainer
      %ul.menu
        %li.selected
          %a{:href => "/blog.html#transform-one-new-team"} New Website Come Out
  
  .clear

  :javascript
    $(".menu li").toggleClass("selected", "");
      
