---
current_page: "blog"
---

.main.blog
  .content
    .blog-entries
      %a{:anchor => "transform-one-new-team"}
      .title TransformOne New Team Formed
      .writen-when April 19, 2013
      .author Alex
      .blog-content

    .sidebar
      %ui
        %li
          %a{:src => "/blog.html#transform-one-new-team"} TransformOne New Team Formed
        %li
          %a{:src => "/blog.html#transform-one-new-team"} TransformOne New Team Formed
        %li
          %a{:src => "/blog.html#transform-one-new-team"} TransformOne New Team Formed
