---
current_page: "blog"
---

.content
  .blog-entries
    %a{:anchor => "transform-one-new-team"}
    .title 
      %h1    
        TransformOne New Team Formed
    .writen-when April 19, 2013
    .author Alex
    .blog-content
      :markdown
        We are so glad that our new website - that what you are checking now released, and also we form a new development team. Now 
        all the team are shifting gears to help shaping our product, hopefully our product will ship in short few months. 
  
  .sidebar
    .menucontainer
      %ul.menu
        %li.selected
          %a{:href => "/blog.html#transform-one-new-team"} New Website Come Out
  
  .clear

  :javascript
    $(".menu li").toggleClass("selected", "");
      
