---
current_page: "index"
---

.feature-area
  .content
    .slogan
      %h1 Your Cloud, Your Trial, Live in a Short While!
    .words
      %img{:src => "/images/clinical-research.jpg", :height => "300", :width => "300"}
      %p
        " TransformOne is a software provider of an on-demand solution for conducting EDC for clinical trials in the cloud. Our service changes how the pharmaceutical industry collects data for trial analysis and agency submission with little technology overhead and significantly reduced time and cost savings. Our approach puts the ability to design and change of the protocol in the hands of the users, allowing for flexibility and creativity while maintaining the high bar of compliance and regulation.  "

    .social-links
      %a{:herf => "http://facebook.com"} 
        %img{:src => "/images/facebook.png", :height => "30", :width => 30}
      %a{:herf => "http://twitter.com"} 
        %img{:src => "/images/twitter.png", :height => "30", :width => 30}
      %a{:herf => "http://www.linkedin.com/company/transformone"} 
        %img{:src => "/images/linkedin.png", :height => "30", :width => 30}




.highlight-columns
  .highlights
    .one-fourth
      .title On-The-Fly Customization
      .highlight-content
        Our software would change the current marketplace offerings, driving the industry to lower costs, faster delivery  and more flexible solutions. 
        

    .one-fourth
      .title Intuitive User Experience 
      .highlight-content
        With our easy to navigate user interface, our sponsors get better data quality and higher productivity from the sites.
        

    .one-fourth
      .title Out-Of-Box Bussiness Intelligence 
      .highlight-content
        Our solution provides real time data reports and dashboards for sponsors to gather first hand business intelligence in their clinical trials.  
        

    .one-fourth
      .title On-Demand Data Exports
      .highlight-content
        With our on demand data exports, you will race ahead the competition with quick submission and quick turn around
        
