.feature-area
  .content
    .slogan
      %h1 Your Cloud, Your Trial, Live in a Short While!
    .words
      %img{:src => "/images/clinical-research.jpg", :height => "300", :width => "300"}
      %p
        " TransformOne is a software provider of an on-demand solution for conducting EDC for clinical trials in the cloud. Our service changes how the pharmaceutical industry collects data for trial analysis and agency submission with little technology overhead and significantly reduced time and cost savings. Our approach puts the ability to design and change of the protocol in the hands of the users, allowing for flexibility and creativity while maintaining the high bar of compliance and regulation.  "




.highlight-columns
  .highlights
    .one-third
      .title Cloud
      .highlight-content
        Test your internal server or local html designs in our remote browsers through our secure tunnel setup. Learn how to set up a local tunnel »

    .one-third
      .title Cost Saving
      .highlight-content
        Test your internal server or local html designs in our remote browsers through our secure tunnel setup. Learn how to set up a local tunnel »

    .one-third
      .title Standard
      .highlight-content
        Test your internal server or local html designs in our remote browsers through our secure tunnel setup. Learn how to set up a local tunnel »

