---
current_page: "solution"
---

.feature-area.solution
  .content
    .problem
      %img{:src => "/images/problem_new.jpg", :width => "240", :height => "200"}
      Problem -
      Electronic Data Capture technology for clinical trial data evolved into web-based systems in the 1990’s. These technologies have not changed much. They rely heavily on professional services and require expertise in programming and design. They take weeks to months to set up one trial and are very costly. Trial design needs to change often, yet the change management process is cumbersome, leads to additional costs and can offset the timeline to patient enrollment, a key milestone, by a month.
    .solution_words
      %img{:src => "/images/happy-doctor.jpg", :width => "220", :height => "200"}
      Solution -
      TransformOne’s solution is meant to transform the way clinical trial data systems are built, controlled and maintained. The solution is cloud based and uses a single instance data model. It allows for the users, the experts, to design and control the system on demand. If a trial design changes, the changes can be implemented simply and inexpensively. Because of the diversion from the professional services model and the ease of the system, we are able to save both on cost and time for our client.
