---
current_page: "team"
---

.main.team
  .feature-area
    .content.team-event
      %img{:src => "/images/team_bg.jpg", :height => "450", :width => "960"}


  .highlight-columns
    .member
      %img{:src => "/images/alex.jpg"}
      .title
        %h3 CEO & COFOUNDER
      .description
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
      .clear

    .member
      %img{:src => "/images/alex.jpg"}
      .title 
        %h3 CEO & COFOUNDER
      .description
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
      .clear

    .member
      %img{:src => "/images/alex.jpg"}
      .title 
        %h3 CEO & COFOUNDER
      .description
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
        Alex cool, Alex beautiful bla bla |
