---
current_page: "team"
---

.main.team
  .feature-area
    .content.team-event
      %img{:src => "/images/team_bg.jpg", :height => "450", :width => "960"}


  .highlight-columns
    .member
      %img{:src => "/images/alex.jpg", :height => "250", :width => "180"}
      .title
        %h3 Alex Liu
        %span CEO & COFOUNDER
      .description
        20+ years pharma and biotech experience with expertise in clinical operations, data management, pharmacovigilance, business operations. |
        Currently consulting for start-up biotechs to enable rapid, efficient trial start-up and execution, and 'right-sized' resourcing.       |
        Oversaw the clinical deliverables to enable the approval of three transformational drugs in three different therapeutic areas.:          |

      .clear

    .member
      %img{:src => "/images/kelly.jpg", :height => "250", :width => "180"}
      .title 
        %h3 Kelly Blackburn
        %span COO & COFOUNDER
      .description
        20+ years pharma and biotech experience with expertise in clinical operations, data management, pharmacovigilance, business operations. |
        Currently consulting for start-up biotechs to enable rapid, efficient trial start-up and execution, and 'right-sized' resourcing.       |
        Oversaw the clinical deliverables to enable the approval of three transformational drugs in three different therapeutic areas.:          |
      .clear

    .member
      %img{:src => "/images/pavel.jpeg", :height => "250", :width => "180"}
      .title 
        %h3 Pavel Murnikov
        %span CTO & COFOUNDER
      .description
        Pavel Murnikov is proven technology leader, having developed the Maven  |
        Video Ad Platform, acquired by Yahoo! in 1808, and which is now serving |
        all of Yahoo! video properties.                                         |
        Pavel's experiences include:
        CTO of Major League Gaming - helping align the dev team and 
        systems with the business objectives
        Scalability Advisor for Marlin Mobile - re-wrote the data collection 
        and visualization system to easily handle the incoming data volume
        Internet TV Platform Architect at Omnilala - developed a 
        hardware/software set-top box platform, currently entering manufacturing 
