---
current_page: "team"
---

.main.team
  .feature-area
    .content.team-event
      %img{:src => "/images/team_bg.jpg", :height => "450", :width => "960"}


  .highlight-columns
    .member
      %img{:src => "/images/alex.png", :height => "200", :width => "160"}
      .title
        %h3 Alex Liu
        %span FOUNDER & CEO
      .description
        Alex has 15 years of management and consulting experience in technology companies.  
        At Phase Forward, she successfully completed 30+ clinical trial integration projects,
        involving the implementation and validation of both customized and standard software
        solutions. Her last role as a program manager at Ionia Solutions is to oversee and
        improve business processes and project management across their cloud solution portfolio.
        She has a M.S. from the International Business School at Brandeis University and she is fluent in 5 languages.

      .clear

    .member
      %img{:src => "/images/kelly.png", :height => "220", :width => "160"}
      .title 
        %h3 Kelly Blackburn
        %span VP of Business Development
      .description
        20+ years pharma and biotech experience with expertise in clinical operations, data management, pharmacovigilance, business operations. |
        Currently consulting for start-up biotechs to enable rapid, efficient trial start-up and execution, and 'right-sized' resourcing.       |
        Oversaw the clinical deliverables to enable the approval of three transformational drugs in three different therapeutic areas.:          |
      .clear

    .member
      %img{:src => "/images/pavel.png", :height => "200", :width => "160"}
      .title 
        %h3 Pavel Murnikov
        %span Chief Architect
      .description
        Pavel is a technology leader in the online Video and Advertising space, most
        recently having developed the Maven Video Ad Platform, which was acquired by
        Yahoo! in 2008 as a part of the Maven Networks acquisition and is now
        serving all of Yahoo! video properties. Prior to Maven and Yahoo!, Pavel
        worked closely with Trellix CTO Dan Bricklin, the inventor of VisiCalc,
        building one of the first cloud-based image editing tools, and
        in partnership with Evan Williams Pavel developed a commercial blogging
        tool for the Trellix Web suite. 
